karabiner.json
automatic_backups/*
.gradle/
gradle/
compiler/grammer/node_modules/*
compiler/grammar/node_modules/**
compiler/.settings/
compiler/grammar/.settings/
compiler/grammar/app/src/antlr/.antlr/
assets/complex_modifications/*
!assets/complex_modifications/60percent.json
.vscode/

**/.vscode/